body {
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 150px;
    font-size: 12px;
}

#bias_button {
    background-color: #700379;
}

html {
    height: 240px;
}

.content {
    padding-top: 25px;
    height: 90px;
}