:root {
    --slider-height: 15px;
    --daratos-main: #700379;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 150px;
    font-size: 12px;
}

#bias_button {
    background-color: var(--daratos-main);
}

html {
    height: 240px;
}

.content {
    padding-top: 25px;
    height: 90px;
}

.slidecontainer {
    width: 80%; /* Width of the outside container */
    margin: 0 auto;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: var(--slider-height);
    border-radius: 5px;  
    background-image: linear-gradient(to right, #3C80F5,#d3d3d3, red);
    outline: none;
    margin-bottom: 0px;
}

input[type=range]::-moz-range-track {
    opacity: 0;
}
  

input[type=range]::-webkit-slider-thumb, input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: var(--slider-height);
    border-radius: 25%; 
    cursor: pointer;
    background-color: black;
}

#result_box {
    margin-top: 0px;
}

  