beautifulsoup4==4.9.3
CacheControl==0.12.6
cachetools==4.1.1
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
Click==7.0
cssselect==1.1.0
feedfinder2==0.0.4
feedparser==6.0.2
filelock==3.0.12
firebase-admin==3.1.0
Flask==1.0.3
google-api-core==1.23.0
google-api-python-client==1.12.8
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-cloud-core==1.4.3
google-cloud-firestore==2.0.1
google-cloud-storage==1.33.0
google-crc32c==1.0.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
grpcio==1.33.2
gunicorn==19.9.0
httplib2==0.18.1
idna==2.10
itsdangerous==1.1.0
jieba3k==0.35.1
Jinja2==2.10
joblib==0.17.0
lxml==4.6.2
MarkupSafe==1.1.0
msgpack==1.0.0
newspaper3k==0.2.8
nltk==3.5
Pillow==8.0.1
proto-plus==1.11.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.0
requests-file==1.5.1
rsa==4.6
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.0.1
tinysegmenter==0.3
tldextract==3.1.0
tqdm==4.54.0
uritemplate==3.0.1
urllib3==1.26.2Hi
Werkzeug==1.0.1
